# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
out/
.env
.env.*
.ipynb_checkpoints/

# OS
.DS_Store

# Node
node_modules/

# Colab / notebooks
/content/

# Data (ignore everything by default)
data/*
soundfonts/
data_midi/

# Except pipeline outputs
!out/
!out/**/*.json
!out/**/*.geojson

# Ignore common raw data formats
*.zip
*.parquet
*.csv
*.xlsx
*.dbf
*.shp
*.shx
*.prj
*.cpg
*.xml
